@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-image: #fdf7e4;
    margin: 0;
  }
  .fade-in-image {
    animation: forwards fadeIn 2s, forwards rotateani 1.5s;
    animation-delay: 1.5s, 0s;
  }

  @keyframes fadeIn {
    0% {
      margin-top: 0rem;
    }

    60% {
      margin-top: 10rem;
    }
    65% {
      margin-top: 30rem;
      opacity: 0;
    }
    70% {
      margin-top: 40rem;
      display: none;
    }
  }

  @keyframes rotateani {
    0% {
      rotate: 0deg;
    }
    100% {
      rotate: 720deg;
    }
  }
}
